.mrTit {
    height: 14px;
    border-bottom: 1px solid #E6E8EB;
    text-align: center;
}

.moreLogin {
    padding-top: 20px;
}
.moreItems {
        text-align: center;
        margin-top: 20px;
      }